#root {
  /* max-width: 550px; */
  margin: 0 auto;
  /* height: 100vh; */
  /* min-height: 100vh; */
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/* @media only screen and (max-width: 767px) {
  #root {
    padding: 0rem;
    height: 100vh;
  }
} */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.CssTextField {
  & label.Mui-focused {
    color: black;
  }

  & .MuiOutlinedInput-root {
    &.Mui-focused fieldset {
      border-color: #fbbc13;
    }
  }
}

.react-calendar {
  max-width: 500px;
}

.react-calendar_month-viewdays_day {
  margin: 12px !important;
}

.react-calendar__tile--active:enabled:hover {
  background-color: #fbbc13 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #1f1b13 !important;
}

.react-calendar__tile--now {
  background-color: transparent !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
}

.present-marker {
  color: #1a8825;
}

.absent-marker {
  color: #ba1a1a !important;
}

.tile-day {
  border: 1px solid #b2a9b5 !important;
  height: 70px !important;
  border-radius: 5px;
  margin-bottom: 5px !important;
  /* margin-left: 2px !important; */
}

.calender-body {
  background-color: #e7f3f8 !important;
  width: 400px !important;
}

.react-calendar__tile--active {
  background-color: #fbbc13 !important;
}

.today {
  border: 2px solid #1f1b13 !important;
}

.attendance-not-marked abbr {
  border: 1px dashed #ba1a1a;
  color: #ba1a1a !important;
  border-radius: 50%;
  padding: 5px;
}
